
.notification-bar{
    position: absolute;
    background-color: red;
    right:1px;
    top: 20%;
    height: fit-content;
    width: 30%;
    text-align: center;
    border: 1px solid blue;
}

.notification-text{
    margin: 0;
}


@media (max-width:400px){

    .notification-text{
        font-size: 1rem;
    }

    .notification-bar{
        width: 50%;
        top: 15%;
    }

}