

/* header-div
header-right
header-left */


.header-div{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0;
    background-color: #000000;
    padding: 0.6em 0;
    width: 100%;
    /* border: 1px solid red; */
}

.header-left{
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
    gap: 1.2em;
    font-family: Tektur;
    margin: 0;
    padding: 0;
    margin-left: 5em;

    /* border: 1px solid blue; */

    

}

.header-right{
    margin: 0;
    font-family: Tektur;
    font-size: 1.4rem;
    gap: 0.5em;
    display: flex;
    align-items: center;
    margin-right: 5em;

    position: relative;
    
    /* border: 1px solid brown; */

}

.user-details{
    
    position: absolute;
    /* top:75%; */
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in, transform 0.5s ease-in ;
    transform:translateY(65%);

    /* border: 1px solid slateblue; */
    pointer-events: none; /* prevents interaction when hidden */
    z-index: 99;


    
}
.user-details.show{
    opacity: 1;
    transform:translateY(75%);
    pointer-events:all; /* prevents interaction when hidden */


}
.user-details > p{
    padding: 0 1em;
    margin: 0;
    background-color: #F6DC43;
    color: black;
    border: 1px solid black;
    border-radius: 100px;

    
    
    

}

.selected-profile-icon{
    background-color: #FF2DF1;
    border-radius: 5px;
    padding: 0.1em;
}

.logout-btn:hover{  
    cursor: pointer;
    color: #FF2DF1;
}

.user-details .user-name{
    color: #FF2DF1;
    text-overflow: ellipsis;
    overflow: hidden;
    /* text-align: start; */
    font-family: Inter;
    /* padding: 0.3em 0; */
    /* display: block; */
    
    

}

.header-left  span{
    color: #F6DC43;
}



@media(max-width:400px){
    .header-div{
        font-size: 0.5rem;
        min-width: 250px;
        margin: 0;
        /* justify-content: center; */
    }

   
    
    .header-left img{
        width: 30px;
    }
    .header-left > h1{
        margin: 0;
        padding: 0;
    }
    .header-left{
     
        gap: 0.4em;
        margin: 0;
        padding: 0;
        /* border: 1px solid blue; */
    }


    .header-right{
        /* border: 1px solid yellow; */

        gap: 0.4em;
        margin: 0;
    }
    .header-right img{
        width: 30px;

    }

    .header-right p{
        font-size: 0.7rem;
    }

    .header-right img{
        width: 20%;
    }
    
    
}