body{
    /* background-color: tan; */
    box-sizing: border-box;
}

.layout-page{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

.authentication-form-div{
    /* width: 50%; */
    position: fixed;
    z-index: 99;
    backdrop-filter: blur(8px);
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.authentication-form-div > form{
    /* background-color: yellow; */
    width: 50%;
   
}








@media(max-width:400px){

    .layout-page{
        min-width: 275px;
        /* justify-content: center; */
        /* flex-wrap: wrap; */

    }

}